<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Some Title</title>
</head>
<body>
<h2> Таблицы базы данных </h2>
<ul>
    <li>
        <a href="http://localhost:8080/cars">Машины</a>
    </li>
    <li><a href="http://localhost:8080/fabric">Фабрики</a></li>
    <li><a href="http://localhost:8080/products">Продукция</a></li>
    <li><a href="http://localhost:8080/shop">Магазины</a></li>
    <li><a href="http://localhost:8080/workers">Работники</a></li>
    <li><a href="http://localhost:8080/product_shop">Наличие товара в магазинах</a></li>
</ul>
</body>
</html>